.signup-btn {
    height: 46px;
    width: 52%;
    border: none;
    border-radius: 8px;
    background: linear-gradient(to bottom, #33dcaf, #03cc90);
    color: #fff;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
}

.signup-btn:hover {
    background: linear-gradient(to bottom, #33dcd6, #03cccc);
}

.signup-label {
    width: 120px;
    justify-content: center;
}