<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title> 정슐랭 </title>
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    </head>
        

    <body>
        <div class="mt-5">
        </div>
        <div class="d-flex justify-content-end me-3"><!-- # CSS로 박스크기만 변경 -->
            <div class = "border border-3 rounded p-2 bg-success bg-opacity-25">
                <p class="mb-0 fs-3">회원가입</p>
            </div>
        </div> 
        <div class="mt-5">
        </div>
        <div>
            <p class="display-1 fw-bold text-center">정슐랭</p> <!-- # CSS로 글씨체 변경 -->
        </div>
        </div>
        <div p class="fs-3 fw-medium text-center "></p>
        </div>
        <div class="mt-5">
        </div>
        <div class="w-25 mx-auto input-group mb-3">  <!-- # CSS로 아이디 입력창 줄이기? -->
        <span class="input-group-text" id="basic-addon1">아이디</span><!-- # CSS로 아이디와 비밀번호 라인 똑같이 변경 -->
        <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
        </div>
         <div class="w-25 mx-auto input-group mb-3">
        <span class="input-group-text" id="basic-addon1">비밀번호</span>
        <input type="text" class="form-control" placeholder="password" aria-label="Username" aria-describedby="basic-addon1">
        </div>
        <div p class="fs-6 fw-medium text-center ">처음 오셨나요? 회원가입 탭을 눌러주세요</p>
        </div>
        <div class="mt-5">
        </div>
        <div class="d-flex justify-content-center">
            <div class = "border border-3 rounded p-2 bg-success bg-opacity-25">
            <p class="fs-3 fw-medium text-center mb-0">로그인</p>
            </div>
        </div>

        
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/static/css/login.css">
    </body>
</html>