<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> 정슐랭 회원가입</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>

<body>
    <div class="mt-5">
    </div>
    <div class="d-flex justify-content-end me-3"><!-- # CSS로 박스크기만 변경 -->
        <div class="border border-3 rounded p-2 bg-success bg-opacity-25">
            <p class="mb-0 fs-3">로그인</p>
        </div>
    </div>
    <div class="mt-5">
    </div>
    <div class="mt-5">
    </div>
    <div>
        <p class="display-1 fw-bold text-center">정슐랭</p> <!-- # CSS로 글씨체 변경 -->
    </div>
    <div class="mt-5">
    </div>
    <div class="w-25 mx-auto input-group mb-3">
        <span class="input-group-text border-0 bg-transparent fs-5">이름</span>
        <input type="text" pattern="[가-힣]+" class="form-control border-1 rounded p-2 border-dark">
    </div>
    <div class="mt-4">
    </div>
    <div class="d-flex gap-2 w-25 mx-auto mb-3">
        <div class="flex-grow-1 input-group">
            <span class="input-group-text border-0 bg-transparent fs-5">소속</span>
            <select class="form-select border-dark border-1 rounded" name="dept">
                {% for d in depts %}
                <option {% if d=user.track %}selected{% endif %}>{{ d }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="flex-grow-1 input-group">
            <span class="input-group-text border-0 bg-transparent fs-5">기수</span>
            <input type="number" minlength="3" class="form-control border-1 rounded p-2 border-dark">
        </div>
        <div class="flex-grow-1 input-group">
            <span class="input-group-text border-0 bg-transparent fs-5">번호</span>
            <input type="number" minlength="3" class="form-control border-1 rounded p-2 border-dark">
        </div>
        <!-- CSS에서 변경이 필요함 길이조절 등 -->
    </div>
    <div class="w-25 mx-auto input-group">
        <span class="input-group-text border-0 bg-transparent fs-5">아이디</span>
        <input type="text" pattern="[A-Za-z0-9]+" minlength="6" class="form-control border-1 rounded p-2 border-dark">
    </div>
    <div class="mt-4">
    </div>
    <div class="w-25 mx-auto input-group mb-3">
        <span class="input-group-text border-0 bg-transparent fs-5">비밀번호</span>
        <input type="password" pattern="[A-Za-z0-9!@#$%^&*]+" minlength="9"
            class="form-control border-1 rounded p-2 border-dark">
    </div>
    <div class="mt-4">
    </div>
    <div class="w-25 mx-auto input-group mb-3">
        <span class="input-group-text border-0 bg-transparent fs-5">비밀번호 확인</span>
        <input type="password" class="form-control border-1 rounded p-2 border-dark">
    </div>
    <div class="mt-4">
    </div>
    <div class="d-flex justify-content-center">
        <div class="border border-3 rounded p-2 bg-success bg-opacity-25">
            <p class="fs-3 fw-medium text-center mb-0">가입완료</p>
        </div>
    </div>
    <!-- #CSS에서 변경이 필요함 줄 맞추기 -->